body, .container {
    background-color: #0e0e0e;
	position: relative;
	color: #fff;
}
.shadows{
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

img {
    max-width: 100%;
}
#player{
	max-width: 640px;
}
@media (max-width: 992px) {
	.container {
		max-width: 100%;
	}
}
@media (max-width: 576px) {
	h1 {
		font-size: 1.5rem;
	}
}
.btn{
    padding: 10px 25px;
	margin-bottom: 20px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(90deg, #ff7702 0%, #dd0017 100%);
    
}
.btn:hover {
    color: #fff;
    font-weight: 700;
    transition: .34s ease-in-out;
    transform: scale(1.1);
}
.row {
    padding-bottom: 15px;
}

.header {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    background-color: #2b2a29;
    z-index: 9999;
    border-bottom: 2px solid #dd0017 ;
}
.logo img {
	max-width: 250px;
}
.navbar-light .navbar-toggler-icon {
    background-color: #fff;
}
.nav-link:hover{
 	transition: .34s ease-in-out;
    transform: scale(1.1);
}
.tournir{
    padding-top: 80px;
}
.tournir__title, .section-title, h1 {
    text-align: center;
	color: #fff;
}

.slider_img, .iso_img {
    width: 100%;
}
.first-grid-row {
    margin: 0;
}
.first-grid-row:last-child{
    padding-bottom: 0;
}
.player-wrap{
	display: flex;
    justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}
.about {
    background: url(../img/brandbg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.frame .container,
.about .container{
    padding: 60px 0;
    background: transparent;
}
.about-wrap{
    background: rgba(14,14,14,0.8);
}
.text-box{
	padding: 0 15px;
}
.section-title{
    padding-bottom: 30px;
}
.section-content{
	padding: 0 10px;
}
.brand{
    padding: 60px 0;
}
.brand-item:nth-child(3) img,
.brand-item:nth-child(2) img {
	padding-bottom: 7px;
}
.turnkey_hall{
    background: url(../img/hallbg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.turnkey_hall .container {
    background: rgba(14,14,14,0.8);
}
.turnkey_hall h3 {
    text-align: center;
}
.section-discription p {
    text-align: center;
    font-weight: 700;
}
.hall-slider__item{
    margin: 0 7px;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #dd0017;
}
.slick-dots li button:before{
    font-size: 10px;
}
.hall-button{
    padding: 20px 0;
    text-align: center;
}
.bars {
    background: url(../img/barsbg.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.bars .cantainer,
.turnkey_hall .container {
    padding: 60px 0;
}
.bars-img_discr{
	margin-bottom: 30px;
    text-align: center;
	background-color: #CCCCCC;
}
.brand-column,
.additionally-column,
.frame-column,
.bench-column,
.column {
	padding-bottom: 30px;
    margin: 0 -7px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.brand-item,
.frame-link,
.bench-box,
.column-item {
	position: relative;
    width: calc(33% - 10px);
    margin: 0 5px 14px 5px;
	transition: .5s;
}
.column-item img {
	border-radius: 5px;
}
.column-item:hover .catalog-discr{
	display: block;
	height: 100%;
	transition: .50s all;
}
.catalog-discr{
	display: none;
	position: absolute;
	top: 0;
    left: 0;
	width: 100%;
    height: 0;
	color: #fff;
	background-color: rgba(18,16,16,0.73);
	border-radius: 5px;
}
.catalog-title{
	display: block;
    text-align: center;
    font-weight: 700;
    margin-bottom: 15px;
}
.catalog-text {
	display: block;
	padding: 5px;		
}
@media (max-width: 992px){
	
	.column-item {
		width: calc(50% - 10px);
	}
}
@media (max-width: 768px){
	.additionally-item,
	.brand-item,
	.column-item {
		width: calc(100% - 10px);
	}
}
.slider_bg{
	align-items: center;
	padding: 15px;
}
.slider-img,
.slider-discription h4{
	text-align: center;
}
.slick-prev, .slick-next{
	z-index: 10;
}

.slick-prev:before, .slick-next:before {
    font-size: 36px;
}
.slick-prev {
    left: -3%;
}
.slick-next {
    right: -2%;
}
.title-img{
	position: relative;
	padding-bottom: 20px;
}
.disk-title {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 25%;
	left: 0%;
	-webkit-text-stroke: 1px black;
}

.title-img img {
	width: 100%;
}
.disk-text{
	padding-bottom: 20px;
}
.btn-wrap{
	text-align: center;
	padding-bottom: 20px;
}
.more {
	padding-bottom: 20px;
}
.frame {
	 background: url("../img/framebg.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.frame-wrap{
	background: rgba(14,14,14,0.8);
}
.bench-disc {
	padding: 10px 0;
}
.bench-disc h4{
	text-align: center;
}
.simulators img {
	width: 100%;
}
.img-table{
	padding-bottom: 10px;
}
.additionally-item{
	position: relative;
    width: calc(25% - 10px);
    margin: 0 5px 10px 5px;
	transition: .5s;
}
.additionally-numb {
	display: inline-block;
    text-align: center;
    padding: 4px 12px;
    border: 2px solid #ccc;
    border-radius: 18px;
}
@media (max-width: 768px){
	.additionally-item{
		width: calc(50% - 10px);
	}
}
.gantel{
	padding-top: 20px;
}
.bars-nav{
	margin-bottom: 30px;
	border-top: 2px dashed red;
	border-bottom: 2px dashed red;
}
.bars-nav img {
	padding: 10px;
}
.footer{
	padding: 25px 0;
	background-color: #2b2a29;
	color: #fff;
	border-top: 2px solid #dd0017;
}
.footer .container {
	background-color: #2b2a29;
}
.footer a {
	color: #fff;
}
.footer-title{
	text-align: center;
	padding-bottom: 10px;
}
.button-to-top {
    display: none;
    position: fixed;
    bottom: 10%;
    right: 5%;
    height: 50px;
    width: 50px;
    background-color: #dd0017;
    border-radius: 15px;
    border: 1px solid #dd0017;
    z-index: 20;
    cursor: pointer;
}
.arrow-up {
    position: fixed;
    bottom: 11%;
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    transform: rotate(45deg);
    z-index: 9999999;
	
}

.button-to-top:hover {
    background-color: #fff;
    border: 1px solid #dd0017;
}

.button-to-top:hover .arrow-up {
    border-top: 5px solid #dd0017;
    border-left: 5px solid #dd0017;
}
.db{
    display: flex;
    justify-content: center;
}
